.header__contacts {
    position: relative;
    display: flex;
    align-items: center;
    top: 0px;
    padding: 10px 0px;
    width: 100%;
    background-color: #222329;
    z-index: 3;
}

.header-contacts__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.flex-item__text {
    display: flex;
    flex-wrap: wrap;
}

.row {
    justify-content: center;
}

.header-contacts__item a {
    color: #fff;
    text-decoration: underline;
}

.header {
    position: relative;
    background-color: #d7d7d7;
}

.navbar-collapse {
    justify-content: flex-start;
}

.fullscreen-bg__video {
    width: 100%;
}

.home {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.571);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home > .container {
    position: absolute;
}

.products {
    position: relative;
    background-color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.55);
    font-weight: bold;
}

.card-image > img {
    width: 300px;
    height: 300px;
}

.white > a {
    color: black;
    text-decoration: none;
}

.about {
    background-color: #F1F0F0;
}

.center {
    justify-content: center;
}

.footer {
    background-color: #212121;
}

.E-mail {
    text-decoration: none;
    color: #4b1ade;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

@media screen and (min-width: 1100px) {
    .fullscreen-bg__video {
        width: 100%;
    }
}